body{
    font-size: 20px;
}
.main_content{
    max-width: 900px;
}
.block_question{
    background-color: #dcd9d6;
    margin: 5px;
    padding: 5px;
}
.question{
    background-color: #3ab39e;
    color: white;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.buttons{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

#next{
    position: relative;
    height: 50px;
    background-color: white;
    border: 0px;
    border-radius: 3px;
}
#next.go{
    background-color: #ffdb29;
}

.block_variants{
    background-color: #dcd9d6;
    margin: 5px;
    padding: 5px;
}

.answer{
    margin: 5px 0px;
    padding: 5px;
    height: 50px;
    width: 100%;
    border: 0px;
    border-radius: 3px;
    background-color: #3ab39e;
    color: white;
    text-align: left;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.answer.right::after {
    content: '';
    color: #b8e986;
    background: url("../images/tick.svg") no-repeat left;
    width: 20px;
    height: 15px;
    right: 30px;

}

.answer.wrong::after {
    content: '';
    color: #ff2e47;
    background: url("../images/cross.svg") no-repeat;
    width: 20px;
    height: 30px;
    right: 30px;

}

.test{
    margin: 10px 10px 10px 10px;
    padding: 5px;
    /*height: 50px;*/
    border: 0px;
    border-radius: 3px;
    background-color: #3ab39e;
    color: white;
    max-width: 500px;
}

